.EmailUpdate-Wrap{
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EmailUpdate-Header-Components{
  width: 100%;
}

.EmailUpdate{
  box-sizing: border-box;
  width: 70%;
  height: 70%;
  border: 0.1em, solid, grey;
  padding: 1em;
  border-radius: 1em;
}

.EmailUpdate-header{
  text-align: center;
}

/* .EmailUpdate h1{
  text-align: center;
} */