.Loader{
  z-index: 999;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(238, 130, 238);
}

.dot {
  animation: jump 1s ease-in-out infinite;
}

.dot:nth-child(2) { animation-delay: 0s; }
.dot:nth-child(3) { animation-delay: 0.2s; }
.dot:nth-child(4) { animation-delay: 0.4s; }

@keyframes jump {
  0% { transform: translateY(0); }
  30% { transform: translateY(-0.2em); }
  60% { transform: translateY(0); }
  100% { transform: translateY(0); }
}