.ServUpdate-container{
  box-sizing: border-box;
  position: absolute;
  width: 100%;;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba( 199, 199, 199, 0.7 );
}

.ServUpdate{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1em;
  background-color: rgb(255, 255, 255);
}

.ServUpdate-FormContainer{
  width: 100%;
  background-color: white;
}