.ConfirmPasswordRecovery{
  box-sizing: border-box;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: rgb(238, 130, 238);
}

.ConfirmPasswordRecovery .header{
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
  background-color: gray;
}
.ConfirmPasswordRecovery .header h1{
  color: white;
}

.ConfirmPasswordRecovery .cancel{
  margin-right: auto;
}

.ConfirmPasswordRecovery hr{
  width: 100%;
  margin-top: 4em;
  border-top: gray;
}