.PasswordRecoveryReq{
  box-sizing: border-box;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 1em;
  background-color: rgb(238, 130, 238);
}

.PasswordRecoveryReq .header{
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
  background-color: gray;
}
.PasswordRecoveryReq .header h1{
  color: white;
}

.PasswordRecoveryReq .cancel{
  margin-right: auto;
}

.PasswordRecoveryReq form{
  display: flex;
  flex-direction: row;
  flex-wrap: auto;
}

.PasswordRecoveryReq hr{
  width: 100%;
  margin-top: 4em;
  border-top: gray;
}