.CheckboxOption{
  box-sizing: border-box;
  width: fit-content;
  margin: 0.5em;
  padding: 0.25em;
  border: solid 0.1em black;
  border-radius: 0.5em;
}

.CheckboxOption label{
  display: inline-block;
}

.CheckboxOption input{
  display: inline-block;
  margin-left: 0.5em;
}