.AppoBoard-row{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

.AppoBoard-row h4{
  width: 20%;
  margin-block: 0.5em;
}

.AppoRowData-ss{
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  border: solid 0.1em white;
  padding: 0.5em;
}

.AppRowData-cancel{
  width: 100%;
  text-align: right;
}