.ServBoard-multipleDeletion{
  margin-bottom: 1em;
}

.ServBoard-row{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

.ServBoard-row h4{
  width: 33.33%;
  margin-block: 0.5em;
}

.ServBoard-selectedToDelete{
  box-sizing: border-box;
  padding: 0.5em;
  background-color: rgb( 239, 239, 239 );
}

.ServBoard-selectedToDelete button{
  display: block;
  margin-left: auto;
}