.SubServBoard-multipleDeletion{
  margin-bottom: 1em;
}

.SubServBoard-row{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

.SubServBoard-column-name{
  width: 15%;
  margin-block: 0.5em;
}
.SubServBoard-column-mins{
  width: 10%;
  margin-block: 0.5em;
}
.SubServBoard-column-detail{
  width: 57%;
  margin-block: 0.5em;
}

.SubServBoard-selectedToDelete{
  box-sizing: border-box;
  padding: 0.5em;
  background-color: rgb( 239, 239, 239 );
}

.SubServBoard-selectedToDelete button{
  display: block;
  margin-left: auto;
}