.Alert-Wrap{
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  padding: 1em;
  background-color: rgb( 128, 128, 128, 0.7 );
}

.Alert{
  box-sizing: border-box;
  padding: 1em;
  border-radius: 1em;
  background-color: white;
}

.Alert-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}