.Home{
  box-sizing: border-box;
  z-index: 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;
  background-color: rgb(217, 49, 150);
}

.Home-header{
  text-align: center;
  background-color: gray;
}

.Home-header h1{
  color: white;
}

.Home-inline{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}

.Home-label{
  color: white;
}

.Home-board{
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1em;
}

.Home-row-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}