.SubServList{
  box-sizing: border-box;
  width: 100%;
  border: solid 0.2rem black;
  padding: 0.5em;
  /* background-color: rgb(255, 255, 255, 0.); */
}
.SubServList h4{
  width: fit-content;
  margin: 0px;
  background-color: rgb( 255, 255, 255, 0.8 );
}
.SubServList .item{
  display: inline-block;
  border: solid 0.15rem black;
  border-radius: 1rem;
  padding: 0.4rem;
  margin: 0.1rem;
  cursor: pointer;
  background-color: rgb( 255, 255, 255, 0.8 )
}
.SubServList .item:hover{
  border-color: rgb(238, 130, 238);
}
.SubServList .clicked{
  display: inline-block;
  border: solid 0.15rem gray;
  border-radius: 1rem;
  padding: 0.4rem;
  margin: 0.1rem;
  cursor: pointer;
  background-color: rgb(248, 195, 248);
}
.SubServList div p{
  margin: 0px;
  font-weight: bold;
  color: black;
}

.SubServList-mins label{
  display: inline-block;
  margin-top: 1rem;
  background-color: rgb( 255, 255, 255, 0.8 );
}
.SubServList-mins p{
  display: inline-block;
  margin: 0px;
  margin-top: 0.5rem;
  background-color: rgb( 255, 255, 255, 0.8 );
  margin-left: 0.5rem;
}