.UserList-container{
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: rgb(128, 128, 128, 0.7);
}

.UserList{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: auto;
  background-color: rgb(255, 135, 219);
}

.UserList-Header{
  width: 100%;
  background-color: rgb(128, 128, 128);
}

.UserList-Header h1{
  color: black;
}

.UserList-table{
  width: 100%;
  overflow-x: auto;
}

.UserList-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin:0.3em;
}

.UserList-row h5{
  width: 25%;
}