.UserDataUpdate{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: rgb(213, 104, 252);;
}

.UserDataUpdate .header{
  background-color: gray;
}
.UserDataUpdate .header h1{
  text-align: center;
  color: rgb(213, 104, 252);
}

.field-selection{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 0.1em solid black;
  /* padding-bottom: 1em; */
  /* padding-inline: 1em; */
  padding: 1em;
}

.update-form{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.update-form button{
  align-self: center;
  margin-top: 1em;
}