html body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.root{
  width: 100%;
  height: 100%;
}

.Error{
  font-weight: bold;
  color: rgb(175, 5, 5);
}

a{
  box-sizing: border-box;
  display: inline-block;
  width: fit-content;
  border: solid 0.15rem black;
  padding: 0.6%;
  color: black;
  text-decoration: none;
  background: white;
  transition: box-shadow 0.15s ease;
}


button{
  box-sizing: border-box;
  width: fit-content;
  border: solid 0.15rem black;
  padding: 0.6%;
  font-size: medium;
  background: white;
  transition: box-shadow 0.15s ease;
}
button:hover, a:hover{
  border-color: rgb(224, 4, 244);
  box-shadow: 0 0 0.5rem 0.2rem rgb(224, 4, 244);
}

.background-container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1
}
.background-container .img-container{
  position: absolute;
  display: flex;
  align-items: center;
  z-index: -2;
}
.background-container .img-container img{
  position: relative;
  display: block;
  z-index: -2
}
.background-container .img-container::after{
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 0.75em 2em white;
  pointer-events: none;
  z-index: -1;
}